.landing-section-1 {
  padding: 10px 10px 30px 10px;
  background-color: #156d3d;
  color: #7adba6;
}

.landing-section-2 {
  padding: 20px 10px 20px 10px;
  background-color: #7adba6;
  color:  #156d3d;
}

.landing-section-3 {
  padding: 20px 10px 30px 30px;
  background-color: #156d3d;
  color: #7adba6;
}

.landing-section-5 {
  padding: 20px 10px 20px 10px;
  background-color: #156d3d;
  color: #7adba6;
}


.landing-section-1-welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
}